<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="activeDatabaseInfo">
      <NewDatabaseInfo>
        <option name="database" value="news_recommendation_system" />
        <option name="databaseType" value="MySql" />
        <option name="password" value="admin" />
        <option name="url" value="localhost:3306" />
        <option name="userName" value="root" />
      </NewDatabaseInfo>
    </option>
    <option name="databaseInfos">
      <list>
        <NewDatabaseInfo>
          <option name="database" value="news_recommendation_system" />
          <option name="databaseType" value="MySql" />
          <option name="password" value="admin" />
          <option name="url" value="localhost:3306" />
          <option name="userName" value="root" />
        </NewDatabaseInfo>
      </list>
    </option>
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="genSqlFilePath" value="$PROJECT_DIR$/src/main/java/recommenderSystem/entity" />
        <option name="javaMapperPackage" value="recommenderSystem.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="recommenderSystem.domain" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="recommendersystem" />
        <option name="lombokGetterSetterAnnotation" value="true" />
        <option name="mapperAnnotaion" value="true" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="recommendersystem">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="recommenderSystem.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="recommenderSystem.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="news_recommendation_system:news">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="news_id" />
                  <option name="javaModelName" value="News" />
                  <option name="moduleName" value="recommendersystem" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="news_recommendation_system:users">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="user_id" />
                  <option name="javaModelName" value="Users" />
                  <option name="moduleName" value="recommendersystem" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useExample" value="true" />
        <option name="useSwagger" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>